{% extends 'layout.html' %}

{% block content %}
<h1>Create New User</h1>

<form data-bind="submit: saveUser">
    <div class="form-group row">
        <div class="col">
            <input data-bind="value: first_name" type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input data-bind="value: last_name" type="text" class="form-control" placeholder="Last name">
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <input data-bind="value: email" type="email" class="form-control" placeholder="Email Address">
        </div>
        <div class="col">
            <input data-bind="value: phone" type="tel" class="form-control" placeholder="Phone Number">
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <input data-bind="textInput: pw" type="password" class="form-control" placeholder="Password">
        </div>
        <div class="col">
            <input data-bind="textInput: pw_confirm" type="password" class="form-control" placeholder="Confirm Password">
        </div>
    </div>
    <div data-bind="visible : passwordValid" class="form-group row">
        <p>passwords not valid</p>
    </div>
    <button data-bind="disable: disableSave" type="submit" class="btn btn-primary">Save</button>
</form>
    <div id="app">
        <div v-text='test'></div>
        [[ test ]]
    </div>
    <script rel="script" src="{{ url_for('users.static', filename='users.js') }}"></script>

{% endblock %}